@charset "utf-8";
/* CSS Document */


		hr
		{
			border : 2px solid red;
		}
		a
		{
			color: pink;
			text-decoration: none;
		}
		#nombre
		{
			color: white;
			background-color: #603;
			padding: 9px;
			margin-top: 9px;
			border: 1px #03C;
			border-radius: 10px 10px 10px 10px;
			box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.47);
		}
	